{% extends "base.html" %}

{% set title = "Farm Constructions" %}

{% block main %}
<script src="{{url_for('static', filename='sigmajs/sigma.min.js')}}"></script>
<script src="{{url_for('static', filename='sigmajs/plugins/sigma.parsers.json.min.js')}}"></script>
<article>
<form class="form-horizontal" role="form" id="query">
  <div class="form-group">
    <label class="control-label col-md-3" for="lemma">Lemma:</label>
    <div class="col-md-9">
      <input type="text" class="form-control" id="lemma" name="lemma" placeholder="Enter lemma">
    </div>
  </div>
  <div class="form-group"> 
    <label class="control-label col-md-3" for="pos">Part of speech:</label>
    <div class="col-md-1">
      <input type="radio" name="pos" value="V" checked /> Verb<br>
      <input type="radio" name="pos" value="S" /> Noun<br>
    </div>
    <label class="control-label col-md-2" for="corpus">Corpus:</label>
    <div class="col-md-6">
      <input type="radio" name="corpus" value="stgr" checked /> SynTagRus<br>
      <input type="radio" name="corpus" value="post" /> Russian National Corpus post-1950<br>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="posfeats">Only with grammatical features:</label>
    <div class="col-md-9"> 
      <input type="text" class="form-control" name="posfeats" id="posfeats" placeholder="Enter desirable morphological tags for target lemma" data-role="tagsinput" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="negfeats">Only without grammatical features:</label>
    <div class="col-md-9"> 
      <input type="text" class="form-control" name="negfeats" id="negfeats" placeholder="Enter undesirable morphological tags for target lemma" data-role="tagsinput" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="posrels">Only with syntactic relations:</label>
    <div class="col-md-9"> 
      <input type="text" class="form-control" name="posrels" id="posrels" placeholder="Enter desirable syntactic relations for extracted construction" data-role="tagsinput" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="negrels">Omit syntactic relations:</label>
    <div class="col-md-9"> 
      <input type="text" name="negrels" id="negrels" placeholder="Enter syntactic relations to exclude from construction" data-role="tagsinput" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="prnegrels">Omit syntactic relations with prepositions:</label>
    <div class="col-md-9"> 
      <input type="text" name="prnegrels" id="prnegrels" placeholder="Enter syntactic relations to exclude from construction" data-role="tagsinput" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="minfreq">Min construction frequency:</label>
    <div class="col-md-1"> 
      <input type="number" class="form-control" name="minfreq" id="minfreq" min="0" value="2" />
    </div>
    <label class="control-label col-md-5" for="minpts">Min elements per construction:</label>
    <div class="col-md-1"> 
      <input type="number" class="form-control" name="minpts" id="minpts" min="0" value="1" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="maxfreq">Max construction frequency:</label>
    <div class="col-md-1"> 
      <input type="number" class="form-control" name="maxfreq" id="maxfreq" min="-1" value="-1" />
    </div>
    <label class="control-label col-md-2" for="maxfreq" style="font-weight: normal;">(set to -1 for unlimited)</label>
    <label class="control-label col-md-3" for="maxcon">Max examples per class:</label>
    <div class="col-md-1">
      <input type="number" class="form-control" name="maxcon" id="maxcon" min="-1" value="100" />
    </div>
    <label class="control-label col-md-2" for="maxcon" style="font-weight: normal;">(set to -1 for unlimited)</label>
  </div>
  <div class="form-group">
    <div class="col-md-offset-3 col-md-2">
      <input type="checkbox" name="usepos" checked="checked" /> Include part of speech<br>
      <input type="checkbox" name="pro" checked="checked" /> SPRO = S, APRO = A<br>
    </div>
    <div class="col-md-2">
      <input type="checkbox" name="case" checked="checked" /> Include case<br>
      <input type="checkbox" name="animacy" /> Include animacy<br>
    </div>
    <div class="col-md-4">
      <input type="checkbox" name="strip" /> Omit positional number for completive relations<br>
      <input type="checkbox" name="splice" /> Splice completive and circumstantial prepositionals<br>
    </div>
  </div>
</form>

<form class="form-horizontal" role="form" id="submit">
  <div class="form-group"> 
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" method="post" class="btn btn-default" id="extractbutton">Extract!</button>
    </div>
  </div>
</form>

<div class="panel-group" id="loading-indicator" style="display:none">
  <div class="panel panel-default col-md-12">
    <div class='panel-heading'>
      <center>
        <img src="{{url_for('static', filename='images/bars-loader.gif')}}" />&nbsp;Extracting...
      </center>
    </div>
  </div>
</div>

<div id="alerts">
</div>

<div id="container" class="panel panel-default">
</div>

<div class="panel-group" id="extracted">
</div>
</article>
{% endblock %}
