{% extends "base.html" %}

{% set title = "About ConFarm" %}

{% block main %}
  <article>
    <p>Hello!</p>
    <p>This site here is dedicated to extracting verb and noun constructions from syntactically annotated corpora of Russian texts.</p>
    <p>As for now, extraction for a specific lemma from SynTagRus, and a part of Russian National Corpus containing texts from post-1950 period is available.</p>
    <p>SynTagRus was converted into <a href="http://ilk.uvt.nl/conll/#dataformat" target="__blank">conll format</a> with its morphological tags reannotated to match Mystem/Russian National Corpus morphological tagset. Syntactical relation labels displayed for extracted constructions follow <a href="http://www.ruscorpora.ru/instruction-syntax.html#Синтаксическая" target="__blank">SynTagRus conventions</a> for syntactical structure with one exception: prepositional relation (“предл”) is displayed as “preprel:preplemma” where preprel is original relation of prepositional head, and preplema is the preposition itself, e.g., “в огне” would usually be displayed as having “обст:В” relation.</p>
    <p>Russian National Corpus was morphologically and syntactically annotated from plain text using <a href="http://web-corpora.net/wsgi3/ru-syntax/" target="__blank">RU Syntax</a>. For now, extraction from Russian National Corpus is a bit slow.</p>
    <p>The project was developed as a part of master's degree graduate work at Higher School of Economics, Moscow, Faculty of Humanities, master's programme <a href="https://www.hse.ru/en/ma/ling/" target="__blank">Computational Linguistics</a>.</p>
  </article>
{% endblock %}

